player-connection-mode=Listen
player-connection-guid=2607999642
player-connection-debug=0
player-connection-project-name=Brackeys
player-connection-ip=192.168.1.155
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ed83a6a2524b46ffa80c07d598b39735
